.footer {
    background: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: var(--text-color-dark);
}

.footer__elementos {
    width: 100%;
    min-height: 100px;
    text-align: center;
    margin: 2rem 0;
}

.footer__inicial, .footer__final {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.footer__final {
    margin-bottom: 0;
}

.footer__nombres {
    font-family: var(--text-titles);
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}