.ubicaciones {
    background: linear-gradient(#ffffff69, #ffffff69),
    url(../src/Watercolour.jpg);
    background-size: cover;
    background-position: cover;
    padding: 4rem 1rem;
    text-align: center;
}

.ubicaciones__elementos {
    width: 100%;
    min-height: 200px;
    color: var(--text-light-color);
}

.ubicaciones__titulo {
    font-size: 2rem;
    font-family: var(--text-titles);
    font-weight: 400;
    text-align: center;
    margin: 2rem 0;

}

.ubicaciones__cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.ubicaciones__card {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.ubicaciones__icono {
    max-width: 250px;
    width: 100%;
    margin: 1rem auto;
    object-fit: contain;
    outline: 5px solid var(--secondary-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ubicaciones__subtitulo {
    font-family: var(--text-subtitles);
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0;
}

.ubicacion__direccion {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.ubicacion__hora {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.ubicacion__boton {
    background: var(--secondary-color);
    padding: 1rem 1.5rem;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ubicacion__boton:hover {
    background-color: #fff;
    outline: 1px solid var(--secondary-color);
    color: var(--color-negro);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}